h1{
    color:$color-texto;
}
.sucursal__principal{
    &__titulo{
        font-family:'Courier New', Courier, monospace;
        font-weight: 600;
        color:$color-texto;
        text-align: center;
        margin-bottom: 10px;
        margin-top: 10px;
        padding-bottom: 5px;
    }
    &__parrafo{
        color: $color-texto;
        font-family:'Courier New', Courier, monospace;
        font-size: 1rem;
        padding:20px;
        margin: 20px;
        margin-bottom: 30px;
        box-shadow: black 0px 20px 30px;
    }
    &__secundario{
        color:$color-texto;
        font-weight: 500;
        font-size: 20px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        margin: auto;
        margin-bottom: 10px;
        margin-top: 20px;
    }
}
.Mapa{
    width: 1200px;
    height: 700px;
}
.Estaciones{
    text-align: center;
    .central{
        margin-left: 3%;
        margin-right: 3%;
        border-radius: 10px;
        @extend %FotosStyle;
       .fotosCero{
           transition-duration:2s;
        }
        
        .fotosCero:hover{
            transform: scale(1.4,1.4);
        }
    }
    .marijoUno{
        margin-left: 3%;
        margin-right: 3%;
        border-radius: 10px;
        @extend %FotosStyle;
        .fotosUno{
            transition-duration: 2s;
        }
        
        .fotosUno:hover{
            transform: scale(1.4,1.4);
        }
    }
    .marijoDos{
        margin-left: 3%;
        margin-right: 3%;
        border-radius: 10px;
        @extend %FotosStyle;
       .fotosDos{
           transition-duration: 2s;
        }
    
        .fotosDos:hover{
        transform: scale(1.4,1.4);
        }
    }
    .marijoTres{
        margin-left: 3%;
        margin-right: 3%;
        margin-top: 60px;
        border-radius: 10px;
        @extend %FotosStyle;
        .fotosTres{
            transition-duration:2s;
        }
        
        .fotosTres:hover{
            transform: scale(1.4,1.4);
        }
    }

}
.Estaciones{
    .fotosCero{
        width: 700px;
        height: 500px;
    }
    .fotosUno{
        width: 700px;
        height: 500px;
    }
    .fotosDos{
        width: 700px;
        height: 500px;
    }
    .fotosTres{
        width: 700px;
        height: 500px;
    }
}

.Estaciones{
    .carousel-inner{
        img{
            height: 80vh;
        }
        
    }
}
.carousel{
    margin-left: 10%;
    margin-right: 10%;
}
@media (max-width:1440px){
    .Mapa{
        width: 1000px;
        height: 700px;
    }
    .Estaciones{
        .fotosCero{
            width: 800px;
            height: 500px;
        }
        .fotosUno{
            width: 800px;
            height: 500px;
        }
        .fotosDos{
            width: 800px;
            height: 500px;
        }
        .fotosTres{
            width: 800px;
            height: 500px;
        }
        .carousel-inner{
            img{
                height: 40vh;
            }
            
        }
    }
}
@media (max-width:1024px) {
    .Mapa{
        width: 900px;
        height: 480px;
    }
    .Estaciones{
        .fotosCero{
            width: 600px;
            height: 400px;
        }
        .fotosUno{
            width: 600px;
            height: 400px;
        }
        .fotosDos{
            width: 600px;
            height: 400px;
        }
        .fotosTres{
            width: 600px;
            height: 400px;
        }
        .carousel-inner{
            img{
                height: 35vh;
            }
            
        }
    }
}
@media (max-width:920px) {
    .Mapa{
        width: 700px;
        height: 480px;
    }
    .Estaciones{
        .fotosCero{
            width: 600px;
            height: 400px;
        }
        .fotosUno{
            width: 600px;
            height: 400px;
        }
        .fotosDos{
            width: 600px;
            height: 400px;
        }
        .fotosTres{
            width: 600px;
            height: 400px;
        }
        .carousel-inner{
            img{
                height: 35vh;
            }
            
        }
    }
}
@media (max-width:768px) {
    .Mapa{
        width: 550px;
        height: 300px;
    }
    .Estaciones{
        .fotosCero{
            width: 500px;
            height: 380px;
        }
        .fotosUno{
            width: 500px;
            height: 380px;
        }
        .fotosDos{
            width: 500px;
            height: 380px;
        }
        .fotosTres{
            width: 500px;
            height: 380px;
        }
        .carousel-inner{
            img{
                height: 30vh;
            }
            
        }
    }
}
@media (max-width:480px) {
    .Mapa{
        width: 200px;
        height: 130px;
    }
    .Estaciones{
        .fotosCero{
            width: 250px;
            height: 150px;
        }
        .fotosUno{
            width: 250px;
            height: 150px;
        }
        .fotosDos{
            width: 250px;
            height: 150px;
        }
        .fotosTres{
            width: 250px;
            height: 150px;
        }
        .carousel-inner{
            img{
                height: 13vh;
            }
            
        }
    }
}